.task {
    border: solid red 2px;
    display: flex;
}

.task .taskExtension {
    border: solid blue 2px;
    visibility: hidden;
    position: absolute;
    background-color: white;
}

.task .show {
    visibility: visible;
}